.name{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight:600;
}

.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.image{
    max-width: 100%;
    max-height: 100%;
    padding: 2px;
}